[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mahesh Karra (kmaheswar)
[access "refs/for/refs/*"]
	read = group user/Mahesh Karra (kmaheswar)
	push = group user/Mahesh Karra (kmaheswar)
	label-Code-Review = -2..+2 group user/Mahesh Karra (kmaheswar)
	label-Verified = -1..+1 group user/Mahesh Karra (kmaheswar)
	rebase = group user/Mahesh Karra (kmaheswar)
	removeReviewer = group user/Mahesh Karra (kmaheswar)
	submit = group user/Mahesh Karra (kmaheswar)
[access "refs/heads/*"]
	read = group user/Mahesh Karra (kmaheswar)
	create = group user/Mahesh Karra (kmaheswar)
	push = +force group user/Mahesh Karra (kmaheswar)
	pushMerge = group user/Mahesh Karra (kmaheswar)
[access "refs/tags/*"]
	push = +force group user/Mahesh Karra (kmaheswar)
	pushTag = group user/Mahesh Karra (kmaheswar)
	pushSignedTag = group user/Mahesh Karra (kmaheswar)
